.fc-col-header-cell-cushion {
  font-size: 16px !important;
  font-weight: 600;
  color: #4b5563;
}
@media (max-width: 640px) {
  .fc-col-header-cell-cushion {
    font-size: 11px !important;
  }
}
.fc-col-header-cell-cushion::after {
  content: attr(data-date); /* אופציונלי: להציג רק תאריך */
  font-size: 12px;
  color: #555;
}

/* צבע הכפתורים ועדינות */
.fc-button {
  background-color: #7c3aed !important; /* סגול עדין */
  border: none !important;
  color: white !important;
  font-size: 14px !important;
  padding: 4px 8px !important;
  border-radius: 6px !important;
}

/* צבע כפתור היום */
.fc-button.fc-today-button {
  background-color: #9333ea !important;
}

/* ב־hover */
.fc-button:hover {
  background-color: #6d28d9 !important;
}

/* למסכים קטנים */
@media (max-width: 600px) {
  .fc-toolbar-title {
    font-size: 14px !important;
  }

  .fc-button {
    font-size: 10px !important;
    padding: 2px 6px !important;
    margin: 0 2px !important;
  }

  .fc-toolbar-chunk {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}
/* צובע את כל הרקע של האירועים */
.fc-event,
.fc-event-main {
  background-color:  #a855f7  !important; /* סגול */
  color: white !important;
  border: none !important;
  border-radius: 6px !important;
}
/* #a855f7 color like title text */
/* צובע גם את המסגרת החיצונית אם יש */
/* .fc-event {
  border: 1px solid #7c3aed !important;
} */

/* בעת ריחוף עם העכבר */
.fc-event:hover {
  background-color: #6d28d9 !important;
}

/* למנוע כפילות צבעים (אם FullCalendar מוסיף רקע פנימי) */
.fc-event-bg {
  background: transparent !important;
}

.fc-event-custom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4px; /* ל־RTL */
  height: 100%;
  color: white;
  font-size: 12px;
}

.recurring-symbol {
  position: absolute;
  top: 2px;
  left: 2px; /* או right:2px אם צריך ל־RTL */
  font-size: 14px;
  pointer-events: none; /* שלא יפריע לגרירה */
}

.recurring-symbol.exception::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 border-top: 2px solid red;
  transform: rotate(-45deg);
}